body
{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-flow: column;
}

.honeycombs{
	position: relative;
	overflow: hidden;
	width: 92%;
	text-align: center;
	background-color: white;
	padding: 30px;
	/* margin-top: 17vh; */
	border-radius: 10px;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.honeycombs .inner_span{
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.9);
	font-family: sans-serif;
	color: #ffff;
}

.honeycombs.inner_span a
{
	color: white;
	text-decoration: none;
}

.honeycombs .inner-text{
	padding-top: 30%;
}

.honeycombs .honeycombs-inner-wrapper{
	display: inline-block;
	overflow: hidden;
	width: 700px;
	position: relative;
	height: 1200px;
}

.honeycombs .comb{
	position: absolute;
	display: inline-block;
}

.honeycombs .hex_l,
.honeycombs .hex_r{
	overflow: hidden;
	position: absolute;
	/* -webkit-backface-visibility: hidden; */
}

.honeycombs .hex_l{
	visibility: hidden;
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	
	transform: rotate(60deg);
}

.honeycombs .hex_r{
	visibility: hidden;
	-moz-transform: rotate(-120deg);
	-ms-transform: rotate(-120deg);
	-o-transform: rotate(-120deg);
	-webkit-transform: rotate(-120deg);
	
	transform: rotate(-120deg);
}

.honeycombs .hex_inner{
	display: block;
	visibility: visible;
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	
	transform: rotate(60deg);
	
	background-position: center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	
	cursor: pointer;
	
}

.footer
{
	color: white;
	font-size: 0.7em;
	font-family: sans-serif;
	margin-top: 4vh; 
	opacity: 0;
	transition: all 0.5s ease-in;
}