body {
  font-family: Jose;
  font-size: 17px;
  font-weight: 400;
  background-color: #182232;
  margin: 0;
  padding: 0;
  /* background-image: url("src/timeline.jpeg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
  overflow-x: hidden;
}

.hamburger {
  width: 30px;
  height: auto;
  position: absolute;
  top: 5%;
  left: 95%;
  z-index: 5;
  transition: all 0.5s ease-in-out;
}
.hamburger > span {
  width: 100%;
  height: 4px;
  background-color: white;
  position: absolute;
  border-radius: 5px;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.hand:nth-child(1) {
  transform: translateY(-1vh);
}

.hand:nth-child(3) {
  transform: translateY(1vh);
}

.midnav {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("src/10068-min.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.midnav > .mid-links {
  height: 40%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;
  transition: all 0.5 ease-in-out;
}

.midnav > .mid-links a {
  font-family: sans-serif;
  text-decoration: none;
  color: #192024;
  font-size: 2.5em;
}

.mid-links a:hover {
  transform: scale(1.1);
}

.logo {
  height: 100px;
  width: 100px;
  background-image: url("src/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

section {
  padding: 10vh 0;
  padding-bottom: 10vh;
}

html,
body {
  overflow-x: hidden;
}

.navbarx {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 50px;
  box-sizing: border-box;
}

.navbarx > a {
  text-decoration: none;
  font-size: 1.3em;
  font-family: sans-serif;
  color: white;
  transition: all 0.5s ease-in-out;
  margin-top: 15px;
}

.navbarx > a:focus,
.navbarx > a:hover {
  text-decoration: none;
  background-color: transparent !important;
  color: white;
  opacity: 0.7;
  transform: scale(1.1);
}

h1 {
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

@font-face {
  font-family: "Jose";
  src: url("./JosefinSans-Bold.ttf");
}

h2 {
  font-family: Jose;
}

header {
  background: #3f51b5;
  color: #ffffff;
  padding: 150px 0;
}
header p {
  font-family: "Allura";
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: 0;
  font-size: 60px;
  margin-top: -30px;
}

.timeline {
  position: relative;
  width: 100%;
}
.timeline::before {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 30px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
  content: "";
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 30px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

p {
  font-size: 1.2em;
  color: black;
}

.timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #3f51b5;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.timeline-card {
  padding: 0 !important;
}
.timeline-card p {
  padding: 0 20px;
}
.timeline-card a {
  margin-left: 20px;
}

÷ .timeline-img-header h2 {
  color: #ffffff;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3f51b5;
  padding: 0 20px;
}

.date {
  background: rgba(59, 112, 239, 1);
  display: inline-block;
  color: #ffffff;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.bottom-text {
  position: absolute;
  padding-bottom: 3vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidenavx {
  display: none;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
  .navbarx {
    padding: 10px 25px;
    background: #182232;
    justify-content: center;
  }

  .bottom-text {
    width: 100%;
    text-align: center;
    font-size: 0.7em;
    color: white;
  }

  .hamburger,
  .midnav {
    display: none;
  }

  .hamburgerx {
    width: 30px;
    height: auto;
    position: absolute;
    top: 3%;
    left: 3%;
  }
  .hamburgerx > span {
    width: 100%;
    height: 4px;
    background-color: white;
    position: absolute;
    border-radius: 5px;
    z-index: 8;
    transition: all 0.5s ease-in-out;
  }
  .sidenavx {
    height: 100%;
    width: 100vw;
    position: fixed;
    background-image: url("src/abstract-dark-halftone-background-design_1017-15505.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 7;
    transform: translateY(-100vh);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
    transition: all 0.5s ease-in-out;
  }

  .sidenavx > .ham-linksx {
    height: 40%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
    /* margin-top: 10vh; */
  }

  .sidenavx > .ham-linksx a {
    color: white;
    font-family: Helvetica;
    font-size: 2em;
    text-decoration: none;
  }

  .sidenavx > .ham-logox {
    width: 150px;
    height: 150px;
    background-image: url("src/SU\ \ Tech\ Team\ Logo\ wihtout\ text.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .logo {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 400px) {
  p {
    font-size: 1em;
  }

  .logo {
    height: 40px;
    width: 40px;
  }

  .navbarx a {
    margin-top: 6px;
    font-size: 1em;
  }

  .timeline-img {
    width: 20px;
    height: 20px;
    background: #3f51b5;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 30px;
    margin-left: -10px;
  }

  .bottom-text {
    font-size: 0.5em;
  }

  .hamburgerx > span {
    height: 2.5px;
  }

  .hamburgerx {
    width: 22px;
  }

  .sidenavx > .ham-linksx a {
    font-size: 1.5em;
  }

  .sidenavx > .ham-logox {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 1200px) and (min-width: 1000px) {
  section {
    padding: 5vh 0;
  }
}
