*:not(.time-pass){
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  background:#1d1e22;
  color:#fff;
  z-index:0;
  
}

.navbar
{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 50px;
    box-sizing: border-box;
    background: #0c0b0b;

}

.navbar a
{
  text-decoration: none;
  font-size: 1.2em;
  font-family: sans-serif;
  color:white;
  transition: opacity 0.5s ease-in-out;
  margin-top: 15px;
}

.navbar a:hover
{
opacity: 0.7;
}

.logo
{
    height: 60px;
    width: 60px;
    background-image: url('src/logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline:before {
  content: '';
  position:absolute;
  height:100%;
  left:50%;
  width:2px;
  top:-20px;
  background:#fff;
  z-index:1;
}
.timeline{
  position:relative;
  margin: 50px auto;
  width:1000px;
  padding:50px 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


.timeline ul{
  margin:0;
  padding:0 ;
}

.timeline ul li{
  list-style:none;
  box-sizing:border-box; 
  line-height:normal;
  position:relative;
  width:50%;
  padding: 40px 70px;
}

.timeline ul li .right_content h2{
  color:rgba(59,112,239,1);
  padding:0px 2px 18px 0px;
}
.timeline ul li:nth-child(odd){
  float:left;
  text-align:right;
  clear:both;
}

.timeline ul li:nth-child(even){
  float:right;
  text-align:left;
  clear:both;
}

.left_content{
  padding-bottom:20px;
}

.timeline ul li:nth-child(odd):before{
  content: '';
  position:absolute;
  width:10px;
  height:10px;
  background:rgba(59,112,239,1);
  border-radius:50%;
  box-shadow: 0 0 0 3px rgba(58,112,239,0.2);
  right:-6px;
  top:24px;
  z-index:1;
}

.timeline ul li:nth-child(even):before{
  content: '';
  position:absolute;
  width:10px;
  height:10px;
 background:rgba(59,112,239,1);
  border-radius:50%;
  box-shadow: 0 0 0 3px rgba(58,112,239,0.2);
  left:-6px;
  top:24px;
}

.timeline ul li:nth-child(odd) .left_content{
  position:absolute;
  top:12px;
  right:-165px;
  margin:0;
  padding:8px 16px;

  color:#fff;
  box-shadow:0 0 0 3px rgba(59,112,239,0.3);
  border-radius:18px;
  
}

.timeline ul li:nth-child(1) .left_content{
  right:  -190px;
}

.timeline ul li:nth-child(2) .left_content{
  left:   -190px;
}


.timeline ul li:nth-child(even) .left_content{
  position:absolute;
  top:12px;
  left:-165px;
  margin:0;
  padding:8px 16px;
  
  color:#fff;
  box-shadow:0 0 0 3px rgba(59,112,239,0.3);
  border-radius:18px;
  
}


@media (max-width: 1000px){
  
  .timeline{
    width:100%;
  }
}

@media (max-width: 767px){
  .timeline{
    width:100%;
  }
  .timeline:before{
    left:20px;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even){
    width:100%;
    text-align:left;
    padding-left:50px;
    font-size: 0.7em; 
  }
  
  .timeline ul li:nth-child(odd):before
    {
    top:-18px;
    left:16px;
  
  }
  .timeline ul li:nth-child(even):before
  { 
    top:-18px;
    left:16px;
  }
  
    .timeline ul li:nth-child(odd) .left_content,
  .timeline ul li:nth-child(even) .left_content
  {
    top:-30px;
    left:50px;
    right:inherit;
  }

  .navbar
  {
    background-color: #1d1e22;
    padding: 10px 25px;
  }

  

  
}

